
  .v-application p {
    margin-bottom: 0 !important;
  }
  
  .contactMail {
    text-decoration: none;
    color: white !important;
  }
  
  .header3 {
    background-image: url("../assets/bluet.png");
    height: 100vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -15vh;
  }